@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, body{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0px;
}

slider{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    left:0;
    animation-delay: -7s;
    background-color: red;
    background-size: cover;
    background-position: center;
}
slide:nth-child(2){
    animation-delay: -4s;
    background-color: blue;
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    animation-delay: -1s;
    background-color: violet;
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    left:0;
    animation-delay: 2s;
    background-color: green;
    background-size: cover;
    background-position: center;
}

slide p{
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: White;
}

@keyframes slide{
    0% { left: 100%; width: 100%;}
    5% { left: 0%;}
    25% { left: 0%;}
    30% { left: -100%; width: 100%;}
    30.0001% {left: 100%; width: 0%;}
    100% { left: 100%; width: 0%;}
}

#caracteristicas{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ecf0f1;
    font-size: 3em;
    top: 100%;
}

#conciertos{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #bdc3c7;
    font-size: 3em;
    top: 200%;
}

#contacto{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ecf0f1;
    font-size: 3em;
    top: 300%;
}

#menu{
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 99;
    text-align: center;
    /*background-color: white;*/
}
li{
    list-style-type: none;
    display: inline;
    color: white;
    font-family: Comfortaa;
    cursor: pointer;
}
ul{

}

.logonav{
    width: 8%;
    height: auto;
    margin-right: 30%;
}
.izqmg{
    position: relative;
    left: -20%;
    margin-right: 2%;
    vertical-align: 7px;
}

#ins{
    position: relative;
    right: 4%;
    margin-left: 10%;
    font-weight: bold;
    vertical-align: 7px;
}

#regis{
    position: relative;
    right: 2%;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 50px;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.3s;
    font-weight: bold;
    vertical-align: 7px;
}
#regis:hover{
    background-color: #333333;
    transition: 0.3s;
}

a{
    text-decoration: none;
    color: white;
}